.filtros-catalogo {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 16px;
  position: relative;
  margin-bottom: 80px;
}

.filtros-input {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 16px;
  width: 100%;
}

#tipo {
  animation: show-up 1s forwards;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#categoria {
  display: none;
}

#categoria.ativo {
  display: block;
  animation: show-right 0.8s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.filtros-catalogo label {
  position: absolute;
  opacity: 0;
  text-align: center;
  margin-bottom: 8px;
  top: -20px;
  pointer-events: none;
}

.filtros-catalogo select {
  max-width: 360px;
  width: 100%;
  height: 60px;
  border: 2px solid var(--color-p4);
  border-radius: 40px;
  padding-left: 20px;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  background: var(--color-p1);
}

.filtros-catalogo select:focus {
  outline: none;
  border-color: #73b837;
  box-shadow: 0 0 2px 2px var(--color-p4);
}

.filtros-botoes {
  display: grid;
  gap: 16px 32px;
  grid-column: 1 / -1;
}

.filtros-botoes button:first-child {
  display: inline-block;
  background: var(--color-p2);
  border: 2px solid var(--color-p3);
  border-radius: 20px;
}

.filtros-botoes button:first-child:hover {
  background: var(--color-p3);
}

.filtros-catalogo button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px 12px;
}

.catalogo-conteudo ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
  justify-content: center;
  gap: 40px;
}

.catalogo-conteudo li {
  background: var(--color-p2);
  max-width: 260px;
  padding: 40px 32px 8px 32px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px var(--color-p4), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}

.catalogo-conteudo li:hover {
  box-shadow: 0 0 0 2px var(--color-p6), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.catalogo-conteudo img {
  margin-bottom: 8px;
  border: 2px solid var(--color-p6);
  border-radius: 4px;
}

.etiqueta {
  display: block;
  position: absolute;
  width: 80px;
  height: 88px;
  text-align: center;
  grid-column: 1 / -1;
  background: linear-gradient(var(--color-s4) 30%, var(--color-p5) 0%);
  padding: 0 2px;
  padding-top: 45px;
  top: 0;
  right: 48px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .catalogo-conteudo ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  }
}

@media (max-width: 600px) {
  .filtros-input {
    display: grid;
    justify-content: stretch;
  }

  #categoria.ativo {
    animation: show-down 0.8s forwards;
  }

  @keyframes show-down {
    from {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
