.home-bg {
  padding-top: 80px;
  background: url("../img/decoracao/home-background/deco-intro-bottom-left.svg")
      no-repeat top 60px right -400px,
    url("../img/decoracao/home-background/deco-intro-top-left.svg") no-repeat
      top -40px left -350px;
}

.intro {
  padding-bottom: 400px;
}

.intro h1,
.intro p {
  text-align: center;
}

.intro a {
  padding-bottom: 4px;
}

.intro a:hover {
  color: var(--color-p6);
}

.intro a::after {
  width: 100%;
}

@media (max-width: 800px) {
  .home-bg {
    background: url("../img/decoracao/home-background/deco-intro-bottom-left.svg")
        no-repeat top 60px right -400px,
      none;
  }
}
