.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

#home h1::after {
  width: 0;
}

h1 {
  position: relative;
}

h1::after {
  content: "";
  display: block;
  width: 35%;
  height: 2px;
  background: var(--color-p3);
  justify-self: center;
  margin-top: 40px;
}

.btn-1 {
  text-transform: uppercase;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--color-p7);
  border: 2px solid #73b837;
}

.btn-1:hover {
  background: var(--color-p4);
}

.btn-2 {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 100px;
  background: #7bd53f;
  color: #20360d;
  border: none;
  cursor: pointer;
}

.btn-2:hover {
  background: #73b837;
}

.link {
  position: relative;
}

.link::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 1px;
  background: var(--color-p11);
  left: 0;
  bottom: 4px;
}

.link:hover::after {
  width: 100%;
}

.col-2 {
  grid-column: 1 / -1;
}

strong {
  color: var(--color-p8);
  font-weight: 500;
}

.bold {
  color: var(--color-p10);
  font-weight: 600 !important;
}

@media (max-width: 800px) {
  .btn-1 {
    padding: 8px 12px;
  }

  .col-2 {
    grid-column: 1;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}
