.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-1 {
  text-transform: uppercase;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--color-p7);
  border: 2px solid #73b837;
  transition: 0.3s;
}

.btn-1:hover {
  background: var(--color-p4);
}

.btn-2 {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 16px;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .btn-1 {
    padding: 8px 12px;
  }
}
