:root {
  --color-p1: #fffff7;
  --color-p2: #fffaeb;
  --color-p3: #eaf2e2;
  --color-p4: #d7e6c6;
  --color-p5: #98bc78;
  --color-p6: #648a42;
  --color-p7: #3c5d1f;
  --color-p8: #274012;
  --color-p9: #20360d;
  --color-p10: #0c2607;
  --color-p11: #9ea894;
  --color-p12: #535b4b;
  --color-p13: #12250f;
  --color-p14: #091208;
  --color-s1: #c4b893;
  --color-s2: #5c4d1f;
  --color-s3: #4b3916;
  --color-s4: #2d2108;
}

.color-p1 {
  color: #fffff7;
}
.color-p2 {
  color: #fffaeb;
}
.color-p3 {
  color: #eaf2e2;
}
.color-p4 {
  color: #d7e6c6;
}
.color-p5 {
  color: #98bc78;
}
.color-p6 {
  color: #648a42;
}
.color-p7 {
  color: #3c5d1f;
}
.color-p8 {
  color: #274012;
}
.color-p9 {
  color: #20360d;
}
.color-p10 {
  color: #0c2607;
}
.color-p11 {
  color: #9ea894;
}
.color-p12 {
  color: #535b4b;
}
.color-p13 {
  color: #101c0e;
}

.color-s1 {
  color: #c4b893;
}
.color-s2 {
  color: #5c4d1f;
}
.color-s3 {
  color: #4b3916;
}
.color-s4 {
  color: #2d2108;
}
