/* Blog */

.js .blog-secao {
  display: none;
}

.js .blog-secao.ativo {
  display: block;
}

.js .blog-secoes-nav li.ativo {
  background: var(--color-p5);
  color: var(--color-p1);
}

/* Catálogo */

.js .js-catalogo-lista a {
  display: none;
}

.js .js-catalogo-lista a.ativo {
  display: block;
}
