.acessorios-conteudo ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, max-content));
  justify-content: center;
  gap: 40px;
}

.acessorios-conteudo li {
  max-width: 360px;
}
.acessorios-conteudo ul img {
  border-radius: 8px 8px 0 0;
}

.acessorio-info {
  background: var(--color-s4);
  padding: 20px;
  border-radius: 0 0 8px 8px;
}

.acessorio-info h2 {
  margin-bottom: 8px;
}

.acessorio-info p {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .acessorios-conteudo ul {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
